# for recepits which has date on it

In [12]:
from PIL import Image
import pytesseract
#pytesseract.pytesseract.tesseract_cmd = 'C:\\Program Files (x86)\\Tesseract-OCR\\tesseract.exe'
pytesseract.pytesseract.tesseract_cmd ='C:\\Program Files\\Tesseract-OCR\\tesseract.exe'
#pytesseract.pytesseract.TesseractNotFoundError: C:\Program Files (x86)\Tesseract-OCR\tesseract.exe
im=Image.open("r.jpeg")
text=pytesseract.image_to_string(im,lang='eng')
print(text)

a»
OG

ilann va! Visors



© E

Bhurat

UDAYA FILLING STATION

MATTUPATTY ROAD

MUNNAR

04865230318
ORIGINAL

Dk DD Da DB OAC eB a a DD a Ot On

29-MAY -2019 14:02:23
INVOICE NO; 292
VEHICLE NO: NOT ENTERED

NOZZLE NO : 1

PRODUCT: PETROL

RATE : 75.01 INR/Ltr
VOUUMES 1. S30 Lte
AMOUNT: 100.00 INR

Pek DE DI DE DDE 2 DNC DD co DD 3 DE BC DE DC I I

S.T..No : 27430268741C
M.S.T. No: 27430268741V

pe EE SE ETAL CT a DH OC I I OC IE DE a

Thank You! Visit Again



4
4
a

|
A

In [3]:
from dateparser.search import search_dates
dates = search_dates(text)

In [5]:
dates

[('04865230318', datetime.datetime(1985, 6, 2, 6, 47, 11)),
 ('Dk', datetime.datetime(1985, 6, 2, 0, 0)),
 ('29-MAY -2019 14:02:23', datetime.datetime(2019, 5, 29, 14, 2, 23)),
 ('292', datetime.datetime(1900, 1, 1, 2, 9, 2)),
 ('100', datetime.datetime(1900, 1, 1, 1, 0)),
 ('OC', datetime.datetime(1900, 1, 1, 0, 0)),
 ('OC', datetime.datetime(1900, 1, 1, 0, 0))]

In [15]:
from date_extractor import extract_dates
dates = extract_dates(text)
dates

[datetime.datetime(2019, 1, 4, 0, 0, tzinfo=<UTC>),
 datetime.datetime(2001, 7, 5, 0, 0, tzinfo=<UTC>),
 datetime.datetime(1930, 1, 1, 0, 0, tzinfo=<UTC>)]

In [25]:
if dates == []:
    print("{“date”: null}")
else:
    #extracting the Expense date from all the dates
    extract_date = []
    correct = []
    for i in dates:
      if i:
        Expense_date = i.strftime('%Y-%m-%d')
        extract_date.append(Expense_date)
        correct.append(max(extract_date))
        print(max(extract_date))

2019-01-04
2019-01-04
2019-01-04

In [28]:
import pandas as pd 
dfObj = pd.DataFrame(correct,columns = ['Date'])

In [31]:
dfObj = dfObj.drop_duplicates(subset=['Date'])

In [32]:
dfObj

         Date
0  2019-01-04

# with out date

In [45]:
from PIL import Image
import pytesseract
#pytesseract.pytesseract.tesseract_cmd = 'C:\\Program Files (x86)\\Tesseract-OCR\\tesseract.exe'
pytesseract.pytesseract.tesseract_cmd ='C:\\Program Files\\Tesseract-OCR\\tesseract.exe'
#pytesseract.pytesseract.TesseractNotFoundError: C:\Program Files (x86)\Tesseract-OCR\tesseract.exe
im=Image.open("c.jpeg")
text=pytesseract.image_to_string(im,lang='eng')
print(text)

Golden Coin
94-450 Ukee St

Waipahu, HI 96797
(808) 848-0802

Server: Charito
Order #: 6879

| >> SETTLED «
1 Plt Lunch 2 Choices

BBO
PINAPATTAN

sBar Subtota
Bod Subtotal:
\;



0
3

tation: |

Take Out

In [50]:
from dateparser.search import search_dates
dates = search_dates(text)
dates

[('96797', datetime.datetime(1979, 9, 6, 7, 0)),
 ('808', datetime.datetime(1900, 1, 1, 8, 0, 8)),
 ('6879', datetime.datetime(6879, 1, 1, 0, 0)),
 ('Out', datetime.datetime(6879, 10, 1, 0, 0))]

In [55]:
from date_extractor import extract_dates
dates = extract_dates(text)
dates

[datetime.datetime(1945, 4, 9, 0, 0, tzinfo=<UTC>),
 datetime.datetime(2008, 8, 1, 0, 0, tzinfo=<UTC>)]

In [64]:
if dates == []:
    print("{“date”: null}")
else:
    extract_date = []
    for i in dates:
      if i:
        Expense_date = i.strftime('%Y-%m-%d')
        extract_date.append(Expense_date)
    
        print(max(extract_date))
        print('The Expense date on the receipt is',max(extract_date))

1945-04-09
The Expense date on the receipt is 1945-04-09
2008-08-01
The Expense date on the receipt is 2008-08-01

In [42]:
import pandas as pd 
dfObj = pd.DataFrame(correct,columns = ['Date'])

In [43]:
dfObj = dfObj.drop_duplicates(subset=['Date'])

In [44]:
dfObj

         Date
0  1945-04-09
1  2008-08-01

### failed to execute the needs there might be some noise

In [112]:
import cv2
import numpy as np
import pytesseract
from PIL import Image

In [113]:
import cv2
img = cv2.imread("c.jpeg")
imgGray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)

In [114]:
kernel = np.ones((1, 1), np.uint8)
imgGray = cv2.dilate(imgGray, kernel, iterations=1)
imgGray = cv2.erode(imgGray, kernel, iterations=1)

In [115]:
cv2.imwrite("removed_noise.png", imgGray)

True

In [116]:
#img = cv2.adaptiveThreshold(img, 255, cv2.ADAPTIVE_THRESH_GAUSSIAN_C, cv2.THRESH_BINARY, 31, 2)

    # Write the image after apply opencv to do some ...
cv2.imwrite("thres.png", img)

True

In [142]:
result = pytesseract.image_to_string(Image.open("thres.png"))

In [145]:
print(result)

Golden Coin.
94-450 Ukee St
Waipahu, HI 96797
(808) 848-0802

Server: Charito
Order #: 6879

»» SETTLED «

1 Pit Lunch 2 Choices
BBQ
PINAPALTAN

Bar Subtotal:
Bod Subtotal:
mo:



Station:

Take Gu

9.79

Swo
Br

|

rt

SS

46





15.00

In [149]:
from date_extractor import extract_dates
dates = extract_dates(result)
dates

[datetime.datetime(1945, 4, 9, 0, 0, tzinfo=<UTC>),
 datetime.datetime(2008, 8, 1, 0, 0, tzinfo=<UTC>),
 datetime.datetime(1979, 9, 1, 0, 0, tzinfo=<UTC>),
 datetime.datetime(1946, 1, 1, 0, 0, tzinfo=<UTC>),
 None]

In [151]:
if dates == None:
    print("null")
else:
    #extracting the Expense date from all the dates
    extract_date = []
    correct = []
    for i in dates:
      if i:
        Expense_date = i.strftime('%Y-%m-%d')
        extract_date.append(Expense_date)
        correct.append(max(extract_date))
        print(max(extract_date))

1945-04-09
2008-08-01
2008-08-01
2008-08-01

In [ ]:
#Using datefinder

In [153]:
import datefinder
matches = datefinder.find_dates(result)
for match in matches:
    print(match)

0808-11-23 00:00:00
6879-11-23 00:00:00
2019-11-01 00:00:00
2019-11-02 00:00:00
2019-11-09 00:00:00

In [ ]:
# yet not getting correct date